#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
+ Create a markdown cell for an introduction
+ Create a markdown cell to list data science languages
+ Create a markdown cell to list data science libraries

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. GGplot
3. Numpy
4. Mathplotlib

 | Data Science Tools |
 | ------------------  |
|  Jupyter |
| Rstudio|
| VScode|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60 
min = 200
hour = min/60
print(hour)

3.3333333333333335

## Author
Sophy